<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineBookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.onlinebookstore.work.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.onlinebookstore.work.ContactUs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.onlinebookstore.work.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Unlock</servlet-name>
    <servlet-class>com.onlinebookstore.work.Unlock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lock</servlet-name>
    <servlet-class>com.onlinebookstore.work.Lock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadItem</servlet-name>
    <servlet-class>com.onlinebookstore.work.UploadItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.onlinebookstore.work.Order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Remove</servlet-name>
    <servlet-class>com.onlinebookstore.work.Remove</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.onlinebookstore.work.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Pay</servlet-name>
    <servlet-class>com.onlinebookstore.work.Pay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ready</servlet-name>
    <servlet-class>com.onlinebookstore.work.Ready</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.onlinebookstore.work.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.onlinebookstore.work.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Unlock</servlet-name>
    <url-pattern>/Unlock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lock</servlet-name>
    <url-pattern>/Lock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadItem</servlet-name>
    <url-pattern>/UploadItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ready</servlet-name>
    <url-pattern>/Ready</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>